In [1]:
import pymongo

In [2]:
dbconn = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
dbname = "ineuron"

In [4]:
db = dbconn[dbname]

In [5]:
collection = db["Bigdata-1"]

In [6]:
collection2 = db["Bigdata2"]

In [133]:
db.list_collection_names

In [7]:
db.get_collection

In [18]:
x= db.list_collection_names()

In [17]:
collection.drop()

In [1]:
dbconn.list_database_names()

NameError: name 'dbconn' is not defined

In [21]:
collection1 = db["Bigdata1"]

In [22]:
collection1.insert_one({"name":"jaya",
"course_name":"big-data-bootcamp",
"designation":"data engineer",
"salary":"50k"})

In [23]:
collection.drop()

In [24]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ineuron'), 'Bigdata-1')

In [25]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [26]:
col = collection1.insert_one(my_row)

In [28]:
col.inserted_id

ObjectId('6391a334fc6995815c1f4035')

In [29]:
res = collection1.find()

In [30]:
res

In [31]:
for i in res:
    print(i)

{'_id': ObjectId('6391a26bfc6995815c1f4034'), 'name': 'jaya', 'course_name': 'big-data-bootcamp', 'designation': 'data engineer', 'salary': '50k'}
{'_id': ObjectId('6391a334fc6995815c1f4035'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [32]:
#list of document
my_rows=[
    {'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},

 {'Serial No': '1000',
 'GRE Score': '310',
 'TOEFL Score': '100',
 'University Rating': '2',
 'SOP': '4.2',
 'LOR': '3.5',
 'CGPA': '9.00',
 'Research': '0',
 'Chance of Admit': '0.70'}]

In [33]:
my_rows

[{'Serial No': '9995',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '1000',
  'GRE Score': '310',
  'TOEFL Score': '100',
  'University Rating': '2',
  'SOP': '4.2',
  'LOR': '3.5',
  'CGPA': '9.00',
  'Research': '0',
  'Chance of Admit': '0.70'}]

In [34]:
collection1.insert_many(my_rows)

In [35]:
res = collection1.find()

In [36]:
for i in res:
    print(i)

{'_id': ObjectId('6391a26bfc6995815c1f4034'), 'name': 'jaya', 'course_name': 'big-data-bootcamp', 'designation': 'data engineer', 'salary': '50k'}
{'_id': ObjectId('6391a334fc6995815c1f4035'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4036'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4037'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}

In [37]:
res[2]

InvalidOperation: cannot set options after executing query

In [38]:
result = collection1.find({})

In [39]:
result[2]

{'_id': ObjectId('6391a44afc6995815c1f4036'),
 'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [55]:
result2 = collection1.find({}).limit(3)

In [57]:
for i in result2:
    print(i)

{'_id': ObjectId('6391a26bfc6995815c1f4034'), 'name': 'jaya', 'course_name': 'big-data-bootcamp', 'designation': 'data engineer', 'salary': '50k'}
{'_id': ObjectId('6391a334fc6995815c1f4035'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4036'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [56]:
result2[2]

{'_id': ObjectId('6391a44afc6995815c1f4036'),
 'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [60]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
 {
    'Serial No': '9995',
 'GRE Score': '340',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '317',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [61]:
collection2.insert_many(my_rows)

In [62]:
result = collection2.find()

In [63]:
for i in result:
    print(i)

{'_id': ObjectId('6391a7bffc6995815c1f4038'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a7bffc6995815c1f4039'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a7bffc6995815c1f403a'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a7bffc6995815c1f403b'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a7bffc6995815c1f403c'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [64]:
result = collection1.find({}, {"GRE Score","TOEFL Score"})

In [65]:
for i in result:
    print(i)

{'_id': ObjectId('6391a26bfc6995815c1f4034')}
{'_id': ObjectId('6391a334fc6995815c1f4035'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('6391a44afc6995815c1f4036'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('6391a44afc6995815c1f4037'), 'GRE Score': '310', 'TOEFL Score': '100'}

In [73]:
my_query = collection2.find({"gre score":"337"})

In [74]:
for i in my_query:
    print(i)

In [78]:
query2 = {"gre score" :{"$gt":"330"}}

In [79]:
result_gt = collection2.find(query2)

In [80]:
for i in result_gt:
    print(i)

In [81]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
 {
    'Serial No': '9995',
 'GRE Score': '340',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '317',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [83]:
collection1.insert_many(my_rows)

In [84]:
result = collection1.find()

In [85]:
for i in result:
    print(i)

{'_id': ObjectId('6391a26bfc6995815c1f4034'), 'name': 'jaya', 'course_name': 'big-data-bootcamp', 'designation': 'data engineer', 'salary': '50k'}
{'_id': ObjectId('6391a334fc6995815c1f4035'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4036'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4037'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6391ac34fc6995815c1f403d'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403e'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403f'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f4040'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f4041'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [93]:
query = {"gre score":"337"}

In [96]:
res1 = collection1.find(query)

In [97]:
for i in res1:
    print(i)

In [110]:
query2 = {"GRE Score":{"$gt":"335"}}

In [111]:
res2 = collection1.find(query2)

In [112]:
for i in res2:
    print(i)

{'_id': ObjectId('6391a334fc6995815c1f4035'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4036'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403d'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403e'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403f'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}

In [107]:
query3 = {"GRE Score":{"$lt":"330"}}

In [108]:
res3 = collection1.find(query3)

In [109]:
for i in res3:
    print(i)

{'_id': ObjectId('6391a44afc6995815c1f4037'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6391ac34fc6995815c1f4041'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [113]:
result_sort = collection1.find().sort("GRE Score")

In [114]:
for i in result_sort:
    print(i)

{'_id': ObjectId('6391a26bfc6995815c1f4034'), 'name': 'jaya', 'course_name': 'big-data-bootcamp', 'designation': 'data engineer', 'salary': '50k'}
{'_id': ObjectId('6391a44afc6995815c1f4037'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6391ac34fc6995815c1f4041'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f4040'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403e'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a334fc6995815c1f4035'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4036'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403d'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403f'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}

In [115]:
result_sort_desc = collection1.find().sort("GRE Score", -1)

In [116]:
for i in result_sort_desc:
    print(i)

{'_id': ObjectId('6391ac34fc6995815c1f403f'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a334fc6995815c1f4035'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4036'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403d'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f403e'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f4040'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391ac34fc6995815c1f4041'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6391a44afc6995815c1f4037'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6391a26bfc6995815c1f4034'), 'name': 'jaya', 'course_name': 'big-data-bootcamp', 'designation': 'data engineer', 'salary': '50k'}

In [117]:
query3 = {"GRE Score":"340"}

In [118]:
res = collection1.delete_one(query3)

In [120]:
res.deleted_count

1

In [123]:
collection1.count_documents

In [124]:
old_record = {"GRE Score":"337"}
new_record = {"$set":{"GRE Score": "320"}}

In [125]:
res = collection1.update_many(old_record,new_record)

In [126]:
res.modified_count

3

In [128]:
res.raw_result

{'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}

In [129]:
res.matched_count

3